<%- include("template/01_header", {tituloWeb: 'Inicio'}) %>

<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://i.ibb.co/pxLN1Lw/slide-1.jpg" class="mx-auto d-block align-middle">
    </div>
    <div class="carousel-item">
      <img src="https://i.ibb.co/xmqbYCn/slide-2.jpg" class="mx-auto d-block align-middle">
    </div>
    <div class="carousel-item">
      <img src="https://i.ibb.co/rxCcp8d/slide-3.jpg" class="mx-auto d-block align-middle">
    </div>
  </div>
</div>

<%- include("template/03_footer") %>