<div class="bg-white py-2"></div>
<div class="bg-dark">
    <div class="py-2">
            <h2 class="fs-3 text-white text-center">Contactanos</h2>
    </div>

    <div class="row text-center justify-content-center py-2">
        <div class="col-1">
            <a href="https://wa.me/5491150569298?text=Hola%20Astral%20Print"><img src="https://i.ibb.co/cDpQBjj/wpp.png" class="footer_img"></a>
        </div>        
        <div class="col-1">
            <a href="https://www.instagram.com/astralprint.3d/"><img src="https://i.ibb.co/2qBCMKX/ig.png" class="footer_img"></a>
        </div>
    </div>
    <div class="row text-center justify-content-center py-2">
        <div class="col-1">
            <a href=""><img src="https://i.ibb.co/vZjR4CL/mail.png" class="footer_img"></a>
        </div>        
        <div class="col-1">
            <a href="https://www.facebook.com"><img src="https://i.ibb.co/dK5rtYB/fb.png" class="footer_img"></a>
        </div>
    </div>

    <div class="bg-dark py-2"></div>
    <div class="bg-secondary py-1"></div>
    <div class="py-1">
        <h2 class="fs-6 text-white text-center">© 2021 - Desarrollado por Martín Michael de Lojo</h2>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
</body>
</html>